
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

    
   
    
    <!-- region: Content -->
    <!--scroll-section class must be added to all scrollable sections-->
    <section class="scroll-section about block primary jumbotronDiagmonds" id="about">
        <!-- About text & photo -->
        <div class="container">
            <div class="row ">
                <div class="col-md-12"><img src="~/Content/images/indisstyle_logo2.png" /></div>

            </div>
        </div>
        @*<div class="container">
              <div class="row">
                <div class="col-sm-3 col-md-3 photo">
                  <img src="~/Content/img/misc/profile.png" alt="My picture" class="img-circle img-responsive pull-center" />
                </div>
                <div class="col-sm-9 col-md-9 details">
                  <h2 class="primary-focus">John Doe Mcfly</h2>
                  <h3 class="secondary-focus">Front-end developer, coffee lover & part-time photographer.</h3>
                  <p>Hi there. I'm a front-end developer with over 11 years experience. I have a passion for details and visual quality. Experience on handling ambitious deadlines, organized and a good team-player.</p>
                  <div class="margin-top"><a href="#services" class="btn btn-lg btn-primary-grad">Find Out More <i class="icon-angle-down"></i></a></div>
                </div>
              </div>
            </div>*@
    </section>

    <!-- Clients carousel -->
    <div class="clients block">
        <div class="container">
            <div class="row">
                <!--You must set data-item-width="250" data-item-margin="70" on the flexslider-carousel div
                data-item-width = width of each item
                data-item-margin = horizontal margins on items, relates to your css ie. margin: 0 35px; results in data-item-margin="70" (x2 the horizontal margin)-->
                <div class="flexslider-carousel" data-item-width="250" data-item-margin="0">
                    <div class="items">
                        <div class="item"><img src="~/Content/img/clients/client1.png" alt="Client 1 image" class="img-responsive" /></div>
                        <div class="item"><img src="~/Content/img/clients/client2.png" alt="Client 2 image" class="img-responsive" /></div>
                        <div class="item"><img src="~/Content/img/clients/client3.png" alt="Client 3 image" class="img-responsive" /></div>
                        <div class="item"><img src="~/Content/img/clients/client4.png" alt="Client 4 image" class="img-responsive" /></div>
                        <div class="item"><img src="~/Content/img/clients/client5.png" alt="Client 5 image" class="img-responsive" /></div>
                        <div class="item"><img src="~/Content/img/clients/client6.png" alt="Client 6 image" class="img-responsive" /></div>
                        <div class="item"><img src="~/Content/img/clients/client1.png" alt="Client 1 image" class="img-responsive" /></div>
                        <div class="item"><img src="~/Content/img/clients/client2.png" alt="Client 2 image" class="img-responsive" /></div>
                        <div class="item"><img src="~/Content/img/clients/client3.png" alt="Client 3 image" class="img-responsive" /></div>
                        <div class="item"><img src="~/Content/img/clients/client4.png" alt="Client 4 image" class="img-responsive" /></div>
                        <div class="item"><img src="~/Content/img/clients/client5.png" alt="Client 5 image" class="img-responsive" /></div>
                        <div class="item"><img src="~/Content/img/clients/client6.png" alt="Client 6 image" class="img-responsive" /></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Work-->
    <section class="scroll-section block" id="work">
        <div class="container">

            <!--Featured item-->

            <div style="text-align:center;">
                <p class="marketing-byline front-text" >
                    Trenger du ekstra krydder i et prosjekt eller er du bare ute etter en enkel webside? Indisstyle er opptatt av detaljer og brukeropplevelse. Jeg tar på meg alt av prosjekter innen utvikling og testing av programmer og hjemmesider.
                </p>
            </div>
        </div>
    </section>



      <!-- Skills & Services -->
     <section class="scroll-section services block gray" id="services">
    <div class="container">
        <div class="row">

                <div class="marketing">




                    <div class="row header3">
                        <div class="col-lg-4">
                            <i class="icon-cogs icon-4x" style="color:#ab2d4e"></i>
                            <h3 style="color:#ab2d4e">Funskjonalitet</h3>
                            <p>Vi ønsker å lage stilrene men funksjonelle sider. Slik at informasjon kan vises på forskjellige måter. Du kan gjerne ta en titt på våre brukte plugins </p>
                        </div>
                        <div class="col-lg-4">
                            <i class="icon-bug icon-4x" style="color:#ab2d4e"></i>
                            <h3 style="color:#ab2d4e">Opplevelse</h3>
                            <p>Vi er opptatt av brukeropplevelsen. I dette legger vi at siden skal vises på alle slags enheter. Derfor tilbyr vi responsive hjemmesider. </p>
                        </div>
                        <div class="col-lg-4">
                            <i class="icon-eye-open icon-4x" style="color:#ab2d4e"></i>
                            <h3 style="color:#ab2d4e">Utseende</h3>
                            <p>Utseende på hjemmesiden til en bedrift har mye å si om hva slags inntrykk man får av bedriften. Ønsker du å gi et godt inntrykk til potensielle kunder. </p>
                        </div>
                    </div>
                </div>
        </div>
        </div>

</section>		
	
     
     
     <!--Customer testimonial -->
        <section class="testimonials" id="testimonials">
        <!-- background image & overlay colour are separate layers to make colour changing easy -->
        <div class="bg-faces">
            <div class="filter light pull-center">
                <h2>Jeg holder til i <span class="bold">Molde</span> omegn</h2>
                <br />
                <p>men har også mange kunder rundt om i landet</p>
            </div>
        </div>

        <div class="block thin gray">
            <div class="flexslider-wrapper container">
                <div class="flexslider flexslider-animation-fade" data-transition="fade" data-directionnav="false">
                    <div class="slides">
                        <blockquote class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                            <p>
                                Deilig å deligere styringen til noen andre for en gang skyld!
                                <small>Ingvar Jonassen</small>
                            </p>
                        </blockquote>
                        <blockquote class="slide flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                            <p>
                                Var å spiste lunsj med flere partnere fra PR byråer i går, de syns siden var meget bra!
                                <small>Mads Nordmark </small>
                            </p>
                        </blockquote>
                        <blockquote class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                            <p>
                                Indina er flink til å tenke utenfor boksen!
                                <small>Bård Inge Pettersen</small>
                            </p>
                        </blockquote>
                    </div>
                    <ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li><li><a class="">3</a></li></ol>
                </div>
                <ul class="flex-direction-nav"><li><a class="icon-chevron-right" href="#">Previous</a></li><li><a class="icon-chevron-right" href="#">Next</a></li></ul>
            </div>
        </div>
    </section>


      
 
    
 
