@{
    ViewBag.Title = "Lag en kravspek";
    Layout = "~/Views/_LayoutPage_Arbeidsform.cshtml";
}

<div class="container" style="margin-bottom: 40px;">



    <div class="row">
        <div class="col-lg-2">









        </div>












        <div class="col-lg-7">
            <div class="row">

                <div class="col-lg-3">
                    <div class="page-header">
                        <h1>Lag en Kravspek</h1>
                    </div>


                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-1"><img style="float: left;opacity: 0.9" src="/Content/images/ewrrr.png"></div>


                <div class="col-lg-1"><img style="float: left;opacity: 0.9" src="/Content/images/ewrrr.png"></div>
                <div class="col-lg-1"><img style="float: left;opacity: 0.9" src="/Content/images/ewrrr.png"></div>






            </div>
            <div class="row">

                <p class="lead">Før man lager en hjemmeside er det lurt å ha tenkt igjennom hva man ønsker å formidle til markedet.</p>
                <h3>Målgruppen</h3>




                <p>



                    
                    
                    Tenk først på hvem du prøver å nå. ER det allerede eksisterende kunder eller er det til potensielle nye kunder. Som regel er det en kombinasjon av begge og det er derfor viktig å tenke på begge målgruppene når man lager en side.
                   



                </p>

                <h3 style="margin-top: 40px"> CMS system eller kode</h3>




                <p>


                    CMS er et system som lar deg administrere innhold på siden. Vi tilbyr kundene våre hjemmesider i de fleste cms systemer. Vi anbefaler å bruke Wordpress som er den mest populære. Eller så har vi mye erfaring innen vanlig kode, til mer avanserte sider som eventuelt skal ha moduler etc.



                </p>

                <div style="margin-top: 40px;text-align: center;">


                    <img style="height: 200px; padding-right: 20px;" src="~/Content/images/hvaigjør.PNG" />

                    <img style="height: 200px; " src="~/Content/images/u.PNG" />

                </div>

            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>  