<!DOCTYPE html>

<html>
    
    

    <head>
        
        <link rel="shortcut icon" href="~/Content/images/faviicon.png" />
        <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/docs.css" rel="stylesheet" />
        <link href="~/Content/indisStyle.css" rel="stylesheet" />
        <link href="~/Content/font-awesome-ie7.css" rel="stylesheet" />
   
        <link href="~/Content/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/theme-style.css" rel="stylesheet" />
        <link href="~/Content/flexslider.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.9.1.js"></script>
        <title>@ViewBag.Title</title>
        <meta name="IndisStyle" content="Web developer, webutvikler web design" />
        <meta name="viewport" content="width=device-width" />
</head>
    <body>
        
        <div id="navigation" class="wrapper">
            <!-- Branding & Navigation -->
            <!--Main Navigation-->
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">

                       

                        <!--mobile collapse menu button-->
                        <a class="mobile-toggle-trigger"><i class="icon-reorder"></i></a>

                        <!--scroll mobile navigation-->
                        <a class="mobile-toggle-trigger scroll-nav" data-js="scroll-show"><i class="icon-reorder"></i></a>

                        <!--everything within this div is collapsed on mobile-->
                        <div class="mobile-toggle pull-right">

                            <!--main navigation-->
                            <ul class="nav" id="main-menu">
                                <li class="active">
                                    <a href="~/home">Hjem</a>
                                </li>
                                <li class="">
                                    <a href="~/home/omMeg">Om meg</a>
                                </li>
                                <li class="">
                                    <a href="~/home/arbeidsform">Kravspek</a>
                                </li>
                                <li class="">
                                    <a href="~/home/arkiv">Arkiv</a>
                                </li>
                                <li class="">
                                    <a href="~/home/prisliste">Prisliste</a>
                                </li>

                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </div>

       
        <div>
            @RenderBody()
        </div>


        <footer id="footer">
            <div class="container">
                <div class="row-fluid pull-center">
                    <h4 style="color:#fff"><i class="icon-envelope"></i> indina@hotmail.no</h4><h4 style="color:#fff"><i class="icon-mobile-phone"></i> 94138558</h4> 
                    
                    
                    
                    <div class="social-media">
                        <a target="_blank" href="https://www.facebook.com/indina.smith" ><i class="icon-facebook-sign"></i></a>
                        <a target="_blank" href="https://twitter.com/IndisStyle"><i class="icon-twitter-sign"></i></a>
                        <a target="_blank" href="https://github.com/Indina"><i class="icon-github-alt"></i></a>
                        
                    </div>
                    
                    
                </div>
            </div>
        </footer>







        <script src="~/Scripts/wootheme-flexslider/jquery.flexslider-min.js"></script>
        <script src="~/Scripts/jquery.jpanelmenu.min.js"></script>
        <script src="~/Scripts/jRespond.js"></script>
        <script src="~/Scripts/retina.js"></script>
        <script src="~/Scripts/jquery.scrollTo.js"></script>
        <script src="~/Scripts/jquery.nav.js"></script>
        <script src="~/Scripts/script.js"></script>
    </body>
</html>
