@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}



<div id="content ">
    <section class="scroll-section about block primary jumbotron masthead jumbotronDiagmonds" id="about">
        <!-- About text & photo -->
        <div class="container" style="margin-top: 70px;">
            <div class="row-fluid ">
                <div class="span12"><img src="~/Content/images/indisstyle_logo2.png" /></div>

            </div>
        </div>
    </section>

    <!-- Clients carousel -->
    

    <!--Work-->
    <section class="scroll-section work block" id="work">
        <div class="container">
        
            <!--Featured item-->

            <div style="text-align:center;">
                <p class="marketing-byline" style="margin-top: 40px; font-size: 1.5em; font-style: italic;">
                    Trenger du ekstra krydder i et prosjekt eller er du bare ute etter en enkel webside? Indisstyle er opptatt av detaljer og brukeropplevelse. Jeg tar på meg alt av prosjekter innen utvikling og testing av programmer og hjemmesider.
                </p>
            </div>
        </div> </section>
        </div>
  

    <!-- Skills & Services -->
    <section class="scroll-section services block gray" id="services">
        <div class="container-fluid">
            <div class="row-fluid">

                <div class="span2"></div>

                <div class="span8">
                    <div class="marketing">

                       

                       
                        <div class="row-fluid">
                            <div class="span4">
                                <i class="icon-cogs icon-4x" style="color:#ab2d4e"></i>
                                <h3 style="color:#ab2d4e">Funskjonalitet</h3>
                                <p>Vi ønsker å lage stilrene men funksjonelle sider. Slik at informasjon kan vises på forskjellige måter. Du kan gjerne ta en titt på våre brukte plugins </p>
                            </div>
                            <div class="span4">
                                <i class="icon-bug icon-4x" style="color:#ab2d4e"></i>
                                <h3 style="color:#ab2d4e">Opplevelse</h3>
                                <p>Vi er opptatt av brukeropplevelsen. I dette legger vi at siden skal vises på alle slags enheter. Derfor tilbyr vi responsive hjemmesider. </p>
                            </div>
                            <div class="span4">
                                <i class="icon-eye-open icon-4x" style="color:#ab2d4e"></i>
                                <h3 style="color:#ab2d4e">Utseende</h3>
                                <p>Utseende på hjemmesiden til en bedrift har mye å si om hva slags inntrykk man får av bedriften. Ønsker du å gi et godt inntrykk til potensielle kunder. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

   

    <!--Customer testimonial -->
    <section class="testimonials" id="testimonials">
        <!-- background image & overlay colour are separate layers to make colour changing easy -->
        <div class="bg-faces">
            <div class="filter light pull-center">
                <h2>Jeg holder til i <span class="bold">Molde</span> omegn</h2>
                <br/>                
                <p>men har også mange kunder rundt om i landet</p>
            </div>
        </div>

        <div class="block thin gray">
            <div class="flexslider-wrapper container">
                <div class="flexslider flexslider-animation-fade" data-transition="fade" data-directionnav="false">
                    <div class="slides">
                        <blockquote class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                            <p>
                                Couldn't be happier with the work carried out.
                                <small>Charles Chaplin via <a href="#">Twitter</a></small>
                            </p>
                        </blockquote>
                        <blockquote class="slide flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                            <p>
                                Var å spiste lunsj med flere partnere fra PR byråer i går, de syns siden var meget bra!
                                <small>Mads Nordmark </small>
                            </p>
                        </blockquote>
                        <blockquote class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                            <p>
                                Our productivity &amp; sales are up due to our new website, highly recommended!
                                <small>Jim Jones</small>
                            </p>
                        </blockquote>
                    </div>
                    <ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li><li><a class="">3</a></li></ol>
                </div>
                <ul class="flex-direction-nav"><li><a class="icon-chevron-right" href="#">Previous</a></li><li><a class="icon-chevron-right" href="#">Next</a></li></ul>
            </div>
        </div>
    </section>

    <!--Contact form-->
    <section class="scroll-section contact block" id="contact">
        <div class="container">
            <h2>Hire Me</h2>
            <div class="row-fluid">
                <form id="contact-form" action="#">
                    <div class="span5">
                        <input type="text" placeholder="Name" class="input-primary placeholder">
                        <input type="email" placeholder="Email" class="input-primary placeholder">
                    </div>
                    <div class="span7">
                        <textarea rows="4" placeholder="Message" class="placeholder"></textarea>
                    </div>
                    <button type="button" class="btn btn-large btn-primary-light btn-square"><i class="icon-envelope"></i> Send Message</button>
                    <address>
                        <small>Snail mail:</small><br>12 Avenue Flora - 06000 Nice, France<br>
                        <a href="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=9.494005,20.698242&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;t=m&amp;ll=51.517075,-0.146084&amp;spn=0.014421,0.062571&amp;z=14&amp;iwloc=A&amp;output=embed"><i class="icon-map-marker"></i>View on Google Maps</a>
                    </address>
                </form>
            </div>
        </div>
    </section>

</div>

