@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
  

<section class="scroll-section about block primary" id="about">
    <!-- About text & photo -->
    <div class="container" style="margin-top: 90px;">
        <div class="row-fluid">
            <div class="span3 photo">
                <img src="~/Content/images/ds.png" alt="My picture" class="img-circle pull-center">
            </div>
            <div class="span9 details">
                <h2 class="primary-focus">Indina Smith</h2>
                <h3 class="secondary-focus">Utvikler, løsningsorientert &amp; en god koordinator.</h3>
                <p>
                    Jeg er en løsningsorientert jente på 22 år med mann og to barn. Jeg har en bachelor innen it og bedriftsutvikling. Jeg er en selvdreven og sprudlende jente som har hatt interesse for utvikling og design i lang tid.
                </p>

                <p>
                    Jeg har øye for detaljer og brukeropplevelse. Jeg setter meg godt inn i bruksområdet til kunden og funksjonaliteten som ønskes. Jeg ønsker en hverdag med god kommunikasjon med kundene. Jeg er jordnær og flink med mennesker.



                </p>
                <p>
                    Jeg er kreativ, noe som gjør at jeg synes oppgaveløsning er morsomt.  Jeg syns det er spennende med utfordringer!
                    Jeg har et godt team rundt meg, som har mye erfaring innen programmering.
                </p>
               
            </div>
        </div>
    </div>
</section>


     
   
  
    

   



        <!-- Experience Timeline -->
        <section class="scroll-section experience block" id="experience">
            <div class="container">
                <h2>Prosjekter</h2>

                <!--
            The Timeline:
            - Timeline can be stacked by default by adding .timeline-stacked class to <ul class="timeline">, markers can show downloads by adding .down to <ul class="timeline">
            - Item overlapping can be reset using the .overlap-off class or pulled using the overlap-pull-small & overlap-pull-large or pulled using overlap-push-small & overlap-push-large, default overlap is 60px
            - To highlight the marker of an item add the class highlight to the timeline-item elements
            -->
                <ul class="timeline">
                    <!--Year 1 - 2013-->
              

                    <!--Year 2 - 2012-->
                    <li>
                        <h3 class="timeline-breaker">2013</h3>
                        <ul>
                            <li class="timeline-item">
                              
                                <h4 class="timeline-item-date">September - present</h4>
                                <h5 class="timeline-item-role">Anleggsgartner Ingvar</h5>
                                <p class="timeline-item-description">Lage en enkel wordpress side.</p>
                            </li>

                            <li class="timeline-item right">
                                <h4 class="timeline-item-date">September 2013 - PRESENT</h4>
                                <h5 class="timeline-item-role">BOO</h5>
                                <p class="timeline-item-description">BOO, Business Online Optimization, som er et mektig online, optimaliseringsverktøy. Her kan man sende matematiske optimaliseringsoppgaver og definisjoner, sammen med en elelr flere instante problemer</p>
                            </li>
                            <li class="timeline-item overlap-off">
                                <h4 class="timeline-item-date">Juli 2013 - August 2013</h4>
                                <h5 class="timeline-item-role">Guanxi</h5>
                                <p class="timeline-item-description">Laget hjemmeside for Guanxi AS som driver med research, rekruttering og employerbranding. Denne er laget i wordpress med en rekke pluggins og den er responsiv.</p>

                                <a href="http://guanxi.no" class="btn btn-mini btn-primary-light btn-square">guanxi.no</a>
</li>
                        

                            <li class="timeline-item right">
                                <h4 class="timeline-item-date">Januar 2013 - Mai 2013</h4>
                                <h5 class="timeline-item-role">StudX</h5>
                                <p class="timeline-item-description">Utvikling av StudX. Et MOOC for Logistikk, som er en Massive Open Online Courses (MOOC) site, utviklet som en Single Page Application med responsive design.</p>
 </li>
                            
        
                        </ul>
                    </li>

                    <!--Timeline end block-->
                    <li class="timeline-end current">
                        <h5 class="timeline-breaker">Mai 2013</h5>
                        <h4>ferdig med Bachelor</h4>
                      
                    </li>
                </ul>
            </div>
        </section>



 
    

